<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Circle</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Index</a></li>
          <li><a href="/triangle">Triangle Calculator</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Circle</h1>

      <form action="/circle" method="POST">
        <div>
            <label for="radius">Radius : </label>
        <input type="text" id="radius" name="radius">
        </div>
        <div>
            <button type="submit">Calculate</button>
        </div>
      </form>
    </main>
  </body>
</html>
